/*colores*/
$background: #ef0111;
$color_span: #ef0111;
$color_example: #141313;
$warning_color: #ffee00;
$hover_color: #FF8360;
$pink_strong: #FF0360;
$pink: #FFD7DA;
$pink_font: #FF0360;

/*sizes*/
